        </div><!-- /.container -->
        
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
            crossorigin="anonymous"></script>
        <script 
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        <script 
            type="text/javascript" 
            src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
        <script>
        <% console.log(currentUser);%>
            $(document).ready( function () {
                $('#jobsTable').DataTable({
                    responsive: {
                        details: {
                            display: $.fn.dataTable.Responsive.display.childRowImmediate,
                            type: 'none',
                            target: ''
                        }
                    },
                    fixedHeader: {
                        header: true,
                        // headerOffset: $('.navbar').height()
                    },
                    "pageLength": 25,
                    <% if(currentUser.username === 'nadia' || 'kayla') { %>
                        "order": [[ 0, "desc" ]]
                    <% } else { %>
                        "order": [[ 5, "desc" ]]
                    <% } %>
                });
            } );
            $(document).ready( function () {
                $('#usersTable').DataTable({
                    responsive: {
                        details: {
                            display: $.fn.dataTable.Responsive.display.childRowImmediate,
                            type: 'none',
                            target: ''
                        }
                    },
                    fixedHeader: {
                        header: true,
                        // headerOffset: $('.navbar').height()
                    },
                    "pageLength": 25,
                });
            } );
        </script>
    </body>
</html>