<% include ./partials/header %>
    
<div class="d-flex justify-content-center mb-3">
    <h1>Sign Up</h1>
</div>
<div class="d-flex justify-content-center">

        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-outline-success btn-block">Sign Up!</button>
            </div>
            <a class="float-right" href="/login">Have an account already?</a>
        </form>

</div>

<% include ./partials/footer %>