.headtitle {
    margin: 0px;
    padding: 0px;
}

.page-link {
    color: #dc3545;
}

.page-item.active .page-link{
    background-color: #dc3545;
    border-color: #dc3545;
}

.radioFalse:checked ~ .radioFalse::before {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.radioTrue:checked ~ .radioTrue::before {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}